extends layout

block content
	header
		nav.sticky
			.row
				img.logo(src='../images/logo-white.png', alt="Omnifood logo")
				img.logo-black(src='../images/logo.png', alt="Omnifood logo")
				ul.main-nav.js--main-nav
					li
						a(href='#features') Food delivery
					li
						a(href='#works') How it works
					li
						a(href='#cities') Our cities
					li
						a(href='#plans') Sign up
				a.mobile-nav-icon.js--nav-icon
					i.ion-navicon-round

		.hero-text-box
			h1
				| Goodbye junk food.
				| <br>
				| Hello super healthy meals.
			a.btn.btn-full.js--scroll-to-plans(href='#') I’m hungry
			a.btn.btn-ghost.js--scroll-to-start(href='#') Show me more

	section#features.section-features.js--section-features
		.row
			h2 Get food fast
				| - not fast food.
			p.long-copy Hello, we’re Omnifood, your new premium food delivery service. We know you’re always busy. No time for cooking. So let us take care of that, we’re really good at it, we promise!

		.row.js--wp-1
			.col.span-1-of-4.box
				i.ion-ios-infinite-outline.icon-big
				h3 Up to 365 days/year
				p Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that's your style.
			.col.span-1-of-4.box
				i.ion-ios-stopwatch-outline.icon-big
				h3 Ready in 20 minutes
				p You're only twenty minutes away from your delicious and super healthy meals delivered right to your home. We work with the best chefs in each town to ensure that you're 100% happy.
			.col.span-1-of-4.box
				i.ion-ios-nutrition-outline.icon-big
				h3 100% organic
				p All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics. Good for your health, the environment, and it also tastes better!
			.col.span-1-of-4.box
				i.ion-ios-cart-outline.icon-big
				h3 Order anything
				p We don't limit your creativity, which means you can order whatever you feel like. You can also choose from our menu containing over 100 delicious meals. It's up to you!

	section.section-meals
		ul.meals-showcase.clearfix
			li
				figure.meal-photo
					img(src='/images/1.jpg')
			li
				figure.meal-photo
					img(src='/images/2.jpg')
			li
				figure.meal-photo
					img(src='/images/3.jpg')
			li
				figure.meal-photo
					img(src='/images/4.jpg')
		ul.meals-showcase.clearfix
			li
				figure.meal-photo
					img(src='/images/5.jpg')
			li
				figure.meal-photo
					img(src='/images/6.jpg')
			li
				figure.meal-photo
					img(src='/images/7.jpg')
			li
				figure.meal-photo
					img(src='/images/8.jpg')

	section#works.section-steps
		.row.js--wp-3
			h2 How it works - Simple as 1, 2, 3
		.row
			.col.span-1-of-2.steps-box
				img.js--wp-2.app-screen(src="/images/app-iPhone.png")
			.col.span-1-of-2.steps-box
				.works-step
					div 1
					p Choose the subscription plan that best fits your needs and sign up today.
				.works-step
					div 2
					p Order your delicious meal using our mobile app or website. Or you can even call us!
				.works-step
					div 3
					p Enjoy your meal after less than 20 minutes. See you the next time!

					a.btn-app(href="#")
						img(src="/images/download-app.png")
					a.btn-app(href="#")
						img(src="/images/download-app-android.png")

	section#cities.section-cities
		.row
			h2 We're currently in these cities
		.row
			.col.span-1-of-4.box
				img(src='/images/lisbon-3.jpg')
				h3 Lisbon
				.city-feature
					i.ion-ios-person.icon-small
					| 1600+ happy eaters
				.city-feature
					i.ion-ios-star.icon-small
					| 60+ top chefs
				.city-feature
					i.ion-social-twitter.icon-small
					a(href='#') @omnifood_lx
			.col.span-1-of-4.box
				img(src='/images/san-francisco.jpg')
				h3 San Francisco
				.city-feature
					i.ion-ios-person.icon-small
					| 700+ happy eaters
				.city-feature
					i.ion-ios-star.icon-small
					| 160+ top chefs
				.city-feature
					i.ion-social-twitter.icon-small
					a(href='#') @omnifood_sf
			.col.span-1-of-4.box
				img(src='/images/berlin.jpg')
				h3 Berlin
				.city-feature
					i.ion-ios-person.icon-small
					| 2300+ happy eaters
				.city-feature
					i.ion-ios-star.icon-small
					| 110+ top chefs
				.city-feature
					i.ion-social-twitter.icon-small
					a(href='#') @omnifood_berlin
			.col.span-1-of-4.box
				img(src='/images/london.jpg')
				h3 London
				.city-feature
					i.ion-ios-person.icon-small
					| 1200+ happy eaters
				.city-feature
					i.ion-ios-star.icon-small
					| 50+ top chefs
				.city-feature
					i.ion-social-twitter.icon-small
					a(href='#') @omnifood_london

	section.section-testimonials
		.row
			h2 Our customers can't live without us
		.row
			.col.span-1-of-3
				blockquote Omnifood is just awesome! I just launched a startup which leaves me with no time for cooking, so Omnifood is a life-saver. Now that I got used to it, I couldn't live without my daily meals!
					cite
							img(src="/images/customer-1.jpg")
							|Alberto Duncan
			.col.span-1-of-3
				blockquote Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery here in Lisbon, but no one comes even close to Omifood. Me and my family are so in love!
					cite
						img(src="/images/customer-2.jpg")
						| Joana Silva
			.col.span-1-of-3
				blockquote I was looking for a quick and easy food delivery service in San Franciso. I tried a lot of them and ended up with Omnifood. Best food delivery service in the Bay Area. Keep up the great work!
					cite
						img(src="/images/customer-3.jpg")
						| Milton Chapman

	section#plans.section-plans.js--section-plans
		.row
			h2 Start eating healthy today
		.row
			.col.span-1-of-3
				.plan-box.js--wp-4
					div
						h3 Premium
						p.plan-price $399
							span / month
						p.plan-price-meal That’s only 13.30$ per meal
					div
						ul
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| 1 meal every day
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| Order 24/7
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| Access to newest creations
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| Free delivery
					div
						a.btn.btn-full(href='#') Sign up now
			.col.span-1-of-3
				.plan-box
					div
						h3 Pro
						p.plan-price $149
							span / month
						p.plan-price-meal That’s only 14.90$ per meal
					div
						ul
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| 1 meal 10 days/month
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| Order 24/7
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| Access to newest creations
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| Free delivery
					div
						a.btn.btn-full(href='#') Sign up now
			.col.span-1-of-3
				.plan-box
					div
						h3 Starter
						p.plan-price $19
							span / month
						p.plan-price-meal &nbsp;
					div
						ul
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| 1 meal
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| Order from 8 am to 12 pm
							li
								.ion.ios.ion-ios-close-empty.icon-small
								| Access to newest creations
							li
								.ion.ios.ion-ios-checkmark-empty.icon-small
								| Free delivery
					div
						a.btn.btn-full(href='#') Sign up now

	section.section-form
		.row
			h2 We're happy to hear from you
		.row
			form.contact-form(method="POST", action="#")
				.row
					.col.span-1-of-3
						label(for="name") Name
					.col.span-2-of-3
						input#name(type="text", name="name", placeholder="Your Name", required)
				.row
					.col.span-1-of-3
						label(for="email") Email
					.col.span-2-of-3
						input#email(type="email", name="email", placeholder="Your Email", required)
				.row
					.col.span-1-of-3
						label(for="find-us") How Did You Find Us?
					.col.span-2-of-3
						select#find-us(name="find-us")
							option(value="friends", selected) Friends
							option(value="search") Search Engine
							option(value="ad") Advertisement
							option(value="other") Other
				.row
					.col.span-1-of-3
						label Newsletter
					.col.span-2-of-3
						input#news(type="checkbox", name="news", checked)
						|Yes, Please
				.row
					.col.span-1-of-3
						label Drop us a line
					.col.span-2-of-3
						textarea(name="message", placeholder="Your Message")
				.row
					.col.span-1-of-3
						label &nbsp;
					.col.span-2-of-3
						input(type="submit", value='Send it')

	footer
		.row
			.col.span-1-of-2
				ul.footer-nav
					li
						a(href='#') About us
					li
						a(href='#') Blog
					li
						a(href='#') Press
					li
						a(href='#') iOS App
					li
						a(href='#') Android App
			.col.span-1-of-2
				ul.social-links
					li
						a(href='#')
							i.ion-social-facebook
					li
						a(href='#')
							i.ion-social-twitter
					li
						a(href='#')
							i.ion-social-googleplus
					li
						a(href='#')
							i.ion-social-instagram
		.row
			p Copyright &copy; 2016 Omnifood. All rights reserved.